*{
  padding: 0px;
  margin: 0px;
}
.navbar{
 position: fixed ;
 height: 75px;
 background-color: black;
 display: flex;
 justify-content: right;
 align-items: center;
 padding: right 5px; 
 width: 100%;
  
}
.logo{
  flex-grow: 1.7;
  border-radius: 50%;
  padding-left: 15px;
  padding-top: 6px;
}
.navbar.logo img{
  width: auto;
  height: 70px;
  padding-top: 5px;
  padding-left: 15px;
  border-radius: 50%;
  justify-content: left;

}
li  {
  display: inline-block;
  color: rgb(251, 251, 251);
 list-style-type: none;
  width: 80px;
  text-size-adjust:5px ;
  text-align: center;
  font-size: 20px;
  font-family:sans-serif ;
  cursor: pointer;
  text-transform:inherit;
  position: relative;
  padding-right: 20px;
  

  
  
}
li>a{
  color: rgb(231, 231, 221);
  text-decoration: none;
  padding-right:20px ;
}




.heading>li>a:after{
content: '';
height: 4px;
width: 100%;
background-color: rgb(245, 242, 21);

left: 0;
bottom: 0;
}
  
li>a:hover{
  color: rgb(245, 242, 21);
}
li:hover{
  color: rgb(245, 242, 21);
}



  




button a{
  color: rgb(26, 26, 25) ;
 position: relative; 
 background-color:rgb(238, 241, 235) ;
height: 30px;
width: auto;
border-color: rgb(211, 57, 57);
 font-family: serif;
 font-size: 20px;
 cursor: pointer;



}
button a{
  color: rgb(21, 21, 21);
  text-decoration: none;
  
}

button a:hover{
  color:rgb(145, 138, 138);
 
}
/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
} 